body{
    margin: 0;
    padding: 0;
    background-color: white;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #4a4958;
}

a:hover{
    color:  rgb(116, 122, 99);
    cursor: pointer;
}

.conteiner{
    background-color: rgb(85, 82, 82);
    font-family:  Montserrat, sans-serif;
    letter-spacing: 2px;

}

.c1{
    background-color: white;
    align-self: center;
    list-style: none;
    font-weight: 700;
    font-size: 1.15em;
    text-align: end;
    position: fixed;
    width: 100%;
    top: 0;
}

.c2{

    height: 800px;
    background-image: url(./assets/s8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin-top: 108px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

li{
    display: inline-block;
    padding: 15px;
    line-height: 20px;
}

button{
    border-radius: 20px;
    line-height: 20px;
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    border: none;
    transition-property: background-color, color;
    transition-duration: 400ms, 400ms;
    margin-left: 100px;
    color: #212027;
    background-color: rgb(116, 122, 99);
    
}

button:hover{
    color: rgba(255, 255, 255, 0.904);
    cursor:pointer
}


#hide{
    display: none;
    margin-right: 20px;
}

#show{
    margin-right: 20px;
}

.logo{
    float: left;
    width: 100px;
    margin-top: 2px;
    margin-left: 25px;
}


.userIcon{
    
    height: 25px;
    width: 25px;
    float: left;
    margin-top: 12.5px;
    margin-left: 25px;
}

.user{
    width: 400px;
    height: 55px;
}

.formulario{
    background-color: #ffffffbb;
    width: 400px;
    height: 600px;
    margin-right: 10%;
    margin-top: 3%;
    border-radius: 20px;
    float: right;
    display: none;
}

.topForm{
    padding: 25px;
}

.topForm p{
    font-size: 0.7em;
    font-weight: lighter;
    color: rgb(90, 90, 90);
    margin-top: -10px;
}

form{
    padding-top: 50px;
    margin-top: -80px;
}

input, select{
    width: 300px;
    height: 50px;
    border: none;
    background-color: #ffffff04;
    border-bottom: 1px solid black;
    
}

#solicitar{
    border: none;
}

.msg{
    margin-top: 33px;
}

select{
    width: 306px;
    
}

input:focus{
    color: black;
    background-color: #ffffff6c;
}

#msg{
    padding-bottom: 30px;
    text-align: justify;
    border: 1px solid black;
    margin-top: 20px;
}

#solicitar{
    background-color: rgb(21, 161, 21);
    color: white;
    margin-top: 42px;
    cursor: pointer;
}

#solicitar:hover{
    transform: scale(1.05);
    transition-duration: 500ms;
}

.sol{
    margin-left: 50px;
    margin-top: 50px;
}

#c2Text{
    width: 580px;
    height: 400px;
    padding: 30px;
    margin-left: 24%;
    color: white;
    font-size: 20px;
    line-height: 30px;
    text-shadow: 1px 2px 3px #535353;
    text-align: justify;
    margin-top: 50px;
    
}

#c2Text h2{
    font-size: 70px;
    font-weight: 500;
    line-height: 70px;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    border-left: 4px solid rgba(94, 68, 14, 0.822);
}

#c2Text h2::first-line{
    color: rgb(116, 122, 99);
}

#sup{
    width: 30px;
    float: left;
    margin-top: 10px;
    padding-right: 10px;
}

.midIcon{
    display: inline-block;
    padding: 5px
}

#sec{
    width: 30px;
    margin-right: 10px;
    float: left;

}

#leal{
    width: 32px;
    margin-right: 10px;
    float: left;
}

#prox{
    width: 40px;
    float: left;
    margin-top: -5px;
    margin-right: 40px;
}


#sobre{
    margin-top: 70px;
    cursor: pointer;
}

#sobre span:hover{
    filter: brightness(200%);
}

.difere{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    text-align: center;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 1px 1px black;

}

.rect{
    width: 300px;
    height: 300px;
    margin-top: -50px;
    border-radius: 15px;

}

.rect:hover{
    transform:translateY(30px)
}

.rect p{
    font-size: 14px;
    text-align: justify;
}

.rect h4{
    font-size: 18px;
    margin-top: -10px;
}

.rect h4, p{
    padding: 20px;
}

.i1{
    background-color: rgb(116, 122, 99);
    margin-right: 20px;
}
   
.i2{
       background-color: rgb(116, 122, 99);

}
   
.i3{
       background-color: rgb(116, 122, 99);
       margin-left: 20px;
}

.cardIcon{
    width: 70px;
    background-color: rgb(116, 122, 99) ;
    margin-top: -40px;
    border-radius: 100%;
    padding: 20px;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
}

.i4{
    width: 100%;
    height: 50px;
    margin: auto;
    font-family: 'STIX Two Text';
    margin-top: 80px;

}

.i4 p{
    color: rgb(116, 122, 99) ;
    font-size: 16px;
    margin-left: -10px;
    font-weight: 600;
}

.i4 h3{
    color: black;
    font-size: 46px;
    line-height: 1px;
    margin-top: -5px;
}

.conteiner2{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 1032px;
    margin: auto;
    margin-top: 150px;

}

.services{
    width: 300px;
    height: 250px;
    border: 2px solid #4a4958;
    margin: 20px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    cursor: pointer;
    color: #4a4958;
}


.services:hover{
    border: 2px solid rgb(116, 122, 99);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 80px;
    transition-duration: 1s;
}

.services h4, p, span{
    margin-top: 0px;
    padding: 15px;
    margin-top: 10px;
}

.services img{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}

.services p, span{
    font-size: 15px;
}

.services span{
    float: left;
}

.arrow{
    width: 25px;
    float: left;
}

.i14{
    text-align: center;
}

#mServices{
    margin: auto;
    margin-left: 6px;
    background-color: white;
    border-radius: 0px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid rgb(94, 67, 14);
    margin-top: 20px;
    color:  rgba(94, 68, 14, 0.822);
}

#mServices:hover{
    background-color:rgba(94, 67, 14, 0.705) ;
    color: white;
}

.i15{
    width: 100%;
    background-color: rgb(116, 122, 99) ;
    margin-top: 50px;
    height: 600px;
}

.mapouter{
    padding-top: 50px;
}

footer{
    background-color: #2b2b33;
    color: white;
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    align-content: center;

}

.foot{
    height: 150px;
    width: 600px;
    padding-top: 50px;
    font-size: 18px;
    text-align: center;
}

.iconFoot{
    padding-right: 50px;
    margin-top: -5px;
}

.cell{
    align-self: center;
}

.cell span{
    font-size: 30px;
}

iframe{
    width: 80%;
    height: 500px;
}


@media screen and (max-width: 1464px) {

    button{
        margin-left: -10px;
        
    }
    .c1{
        font-size: 16px;
    }
}


@media screen and (max-width: 1236px) {


    .formulario{
        margin-top: 60px;
    }

    #c2Text{
        margin-left: 0px;
    }
    
}


@media screen and (max-width: 930px){

    .c1{
        font-size: 14px;
    }
    button{
        font-size: 14px;
        
    }

    #hide, #show{
        margin-right: 0px;
    }

    .logo{
        margin-left: 0px;
    }

    #c2Text{
        width: 400px;
        font-size: 15px;
        line-height: 30px;
        
    }
    
    #c2Text h2{
        font-size: 48px; 
    }
    
    .formulario{
        background-color: #ffffffbb;
        width: 300px;
        height: 500px;
        margin-right: 4.5%;
    }
    
    .topForm{
        padding: 25px;
    }
    
    .topForm p{
        font-size: 0.66em;
        margin-top: -20px;
    }

    .topForm h3{
        font-size: 14px;
        margin-top: -10px;
    }

    #sup{
        margin-top: -10px;
    }
    
    form{
        margin-top: -100px;
    }
    
    input, select{
        width: 200px;
        height: 40px;
        
    }
    
    select{
        width: 206px;
        
    }
    
    #msg{
        padding-bottom: 20px;
    }
    
    #solicitar{
        margin-top: 8px; 
    }

    .conteiner2{
        width: 100%;
    }

    .services{
        margin: auto;
        margin-top: 30px;
    }

    iframe{
        width: 80%;
        height: 500px;
    }
    .gmap_canvas{
        width: 100px;
        background-color: aqua;
    }
    .i4{
        width: 100%;
    }

    .i4 h3{
        font-size: 36px;
    }
    
@media screen and (max-width: 685px){

    .c2{
        flex-wrap: wrap;
        height: 700px;
    }
    
    #c2Text{
        margin: auto;
        margin-top: 50px;
    }
    
    .formulario{
        margin: auto;
        margin-top: 250px;
        display: block;
    }

    .difere{
        flex-wrap: wrap;
        margin-top: 600px;
    }
    
    .rect{
        margin: auto;
        margin-top: 50px;
    }

    li{
        line-height: 0px;
    }

    .c1{
        margin-top: -10px;
    }
    #cel{
        margin-top: 40px;
    }

}}